[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
black = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
flake8 = "*"
build = "*"
twine = "*"
pydata-sphinx-theme = "*"
numpydoc = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
tests = "./scripts/runTests.sh"
