[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
black = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
flake8 = "*"
pprintpp = "*"
IPython = "*"
# Build
build = "*"
twine = "*"
# Sphinx
pydata-sphinx-theme = "*"
numpydoc = "*"
myst-parser = "*"
sphinx-copybutton= "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3"

[scripts]
tests = "./scripts/runTests.sh"
