# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package to Anaconda

on:
  push:
    branches: [main]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  package-deploy-conda:
    name: Conda pkg build and deploy to anaconda.org
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          conda env update --file environment.yml --name test
      # - name: activate env
      #   run: |
      #     conda activate test
      - name: Install
        run: |
          conda install -y conda-build anaconda-client
          conda config --set anaconda_upload no
      - name: Show channels
        run: conda config --show channels
      - name: Anaconda Show
        run: conda config --show
      - name: Anaconda version
        run: anaconda -V
      - name: Conda list
        run: conda list
      - name: Conda list in
        run: conda list in
      - name: Conda build pkg
        run: conda build  ./conda.recipe/ --output-folder ./build

      - name: Deploy to anaconda.org
        run: |
          pkg_file="./build/noarch/*-py_0.tar.bz2"
          anaconda -t ${{ secrets.ANACONDA_API_TOKEN }} upload $pkg_file
