# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package to Anaconda

on:
  push:
    branches: [main]
  release:
    types: [created]
  workflow_dispatch:

jobs:
  package-deploy-conda:
    name: Conda pkg build and deploy to anaconda.org
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # - name: Set up Python 3.10
      #   uses: actions/setup-python@v2
      #   with:
      #     python-version: 3.10
      # - name: Add conda to system path
      #   run: |
      #     # $CONDA is an environment variable pointing to the root of the miniconda directory
      #     echo $CONDA/bin >> $GITHUB_PATH
      # - name: Install dependencies
      #   run: |
      #     conda env update --file environment.yml --name base

      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          activate-environment: test
          python-version: "3.7"

      - name: Conda info
        run: conda info
      - name: Conda list
        run: conda list

      - name: Install dependencies
        run: |
          conda install -y conda-build anaconda anaconda-client
          conda config --set anaconda_upload no
      - name: Anaconda version
        run: anaconda -V
      - name: Conda list
        run: conda list
      - name: Conda build pkg
        run: conda build  ./conda.recipe/ --output-folder ./build

      - name: pwd
        run: pwd
      - name: ls1
        run: ls -l
      - name: ls2
        run: ls -l ./build/
      - name: ls3
        run: ls -l ./build/noarch/

      - name: Deploy to anaconda.org
        run: |
          pkg_file="./build/noarch/*-py_0.tar.bz2"
          anaconda upload -t ${{ secrets.ANACONDA_API_TOKEN }} $pkg_file

      # - name: Install dependencies
      #   shell: bash -l {0}
      #   run: |
      #     conda install -y -c pytorch pytorch cpuonly
      #     conda install -y scipy sphinx pytest flake8
      #     conda install -y -c gpytorch gpytorch
      #     conda install -y conda-build anaconda-client
      #     conda config --set anaconda_upload no
      # - name: Build and verify conda package
      #   shell: bash -l {0}
      #   run: |
      #     ./scripts/build_and_verify_conda_package.sh
      # - name: Deploy to anaconda.org
      #   shell: bash -l {0}
      #   run: |
      #     botorch_version=$(python setup.py --version)
      #     build_dir="$(pwd)/.conda/conda_build/noarch"
      #     pkg_file="${build_dir}/botorch-${botorch_version}-0.tar.bz2"
      #     anaconda -t ${{ secrets.ANACONDA_UPLOAD_TOKEN }} upload -u pytorch $pkg_file
