name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to GitHub Branch
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install pipenv
        run: |
          mkdir .venv
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install
      - name: Sphinx build
        run: |
          ./scripts/sphinixBuild.sh
      # Deploy to branch
      - name: Deploy to Git branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./sphinx/build/html
          # publish_branch: website-sphinx
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
